.conteiner {
    padding: 0px 15px;
    margin: 0 auto;
    width: $mobile;

    @include for-tablet {
        width: $tablet;
    }

    @include for-desktop {
        width: $desctop;
    }

    &--centered {
        @include for-tablet {
            display: flex;
            align-items: center;
        }
    }

    &__title--visually-hidden {
        @include visually-hidden;
    }
}
