.contact-form {
    &__group {
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    &:nth-child(4) {
        margin-bottom: 20px;
    }

    &__group:hover &__icon,
    &__group:focus &__icon {
        fill: var(--accent-color);
    }

    &__group:nth-child(4) {
        margin-bottom: 20px;
    }

    &__label {
        display: block;
        font-family: "Roboto";
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: #757575;
        margin-bottom: 4px;
    }

    &__wrapper {
        position: relative;
    }

    &__input {
        width: 100%;
        padding: 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: transparent;
        cursor: pointer;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover,
    &__input:focus {
        border-color: var(--accent-color);
    }

    &__textarea {
        @extend .contact-form__input;
        padding: 12px 16px;
        font-family: "Roboto";
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;
        resize: none;
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        bottom: 15px;
        left: 10px;
        fill: #212121;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__policy-group {
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: start;
        padding: 10px 1px;
        margin-bottom: 30px;
    }

    &__policy-description {
        justify-content: center;
        font-family: "Roboto";
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;

        color: #757575;

        @include for-desktop {
            font-size: 14px;
            line-height: 1.71;
            text-align: center;
        }
    }

    &__policy-description-link {
        color: var(--accent-color);
    }

    &__checkbox {
        &--visually-hidden {
            @include visually-hidden;
        }
    }

    &__custom-checkbox {
        width: 16px;
        height: 15px;
        margin-right: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        outline: 2px solid #212121;
        outline-offset: -2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__custom-checkbox-icon {
        opacity: 0;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__checkbox:checked + &__custom-checkbox {
        background-color: #2196f3;
        outline: 2px solid #2196f3;
    }

    &__checkbox:focus + &__custom-checkbox {
        border-color: #2196f3;
        outline: 2px solid #2196f3;
    }

    &__checkbox:checked + &__custom-checkbox &__custom-checkbox-icon {
        opacity: 1;
    }

    &__btn-inner {
        text-align: center;
    }

    &__btn {
        @include main-btn;
    }
}
