.headbord {
  position: relative;
  border-bottom: 1px solid #ececec;

  &__nav {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: var(--main-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    font-family: Raleway, sans-serif;
  }
}

.menu {
  @extend %list;
  display: none;

  @include for-tablet {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 40px;
  }

  &__link {
    @extend %link;
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link--active {
    color: var(--accent-color);
  }

  &__link--active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.contact-list {
  @extend %list;
  display: none;
  margin-left: auto;
  margin-block-start: 0px;
  margin-block-end: 0px;

  @include for-tablet {
    display: block;

    &__item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @include for-desktop {
    display: flex;

    &__item + &__item {
      margin-left: 50px;
    }
  }

  &__link {
    @extend %link;
    color: var(--secondary-color);
    display: flex;
    align-items: center;

    @include for-desktop {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__icon:hover,
  &__icon:focus {
    color: var(--accent-color);
  }
}

.menu-button {
  display: inline-flex;
  z-index: 3;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @include for-tablet {
    display: none;
  }
}
.menu-button:hover .menu-button__icon,
.menu-button:focus .menu-button__icon {
  fill: var(--accent-color);
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}
