.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f5f4fa;

    @include for-desktop {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__caption {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        -webkit-margin-before: 0;
        margin-block-start: 0;
        -webkit-margin-after: 0;
        margin-block-end: 0;
        margin-bottom: 50px;
    }

    &__list {
        display: block;
        margin-block-start: 0px;
        margin-block-end: 0px;
        padding-inline-start: 0px;

        @include for-tablet {
            display: flex;
        }

        @include for-tablet-only {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__list &__link {
        text-align: center;
    }

    &__link {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;

        @include for-tablet-only {
            flex-basis: calc((100% - 30px) / 2);
        }

        @include for-desktop {
            width: 270px;
        }
    }

    &__link:not(:last-child) {
        @include for-phone-only {
            margin-bottom: 30px;
        }

        @include for-desktop {
            margin-right: 30px;
        }
    }

    &__link:nth-last-child(n + 3) {
        @include for-tablet-only {
            margin-bottom: 30px;
        }
    }

    &__list &__link:not(:last-child) {
        @include for-desktop {
            margin-right: 30px;
        }
    }

    &__photo {
        @include for-phone-only {
            width: 100%;
        }
    }

    &__desc {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__name {
        font-weight: 500;
        line-height: 1.18;
        margin-bottom: 10px;
    }

    &__position {
        font-size: 16px;
        line-height: 1.35;
        margin-bottom: 16px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline-start: 0px;
    }

    &__socials-item:not(:last-child) {
        margin-right: 10px;
    }

    &__socials-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        background-color: #ffffff;
        border-radius: 50%;
        color: var(--secondary-color);

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon {
        fill: #afb1b8;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__socials-link:hover,
    &__socials-link:focus {
        background-color: var(--accent-color);
    }

    &__socials-link:hover &__icon,
    &__socials-link:focus &__icon {
        fill: #ffffff;
    }
}
